/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-form-field{
	//width: 100% !important;
}
table {
	width           : 100%;
}
.mat-header-cell {
	text-align      : center !important;
}
.buttonLine{
	width           : 100%;
	display         : flex;
	flex-direction  : row;
	justify-content : flex-end;
}
.ele-boton{
	margin          : 5px 5px !important;
	line-height     : 25px !important;
}
.ele{
	margin          : 5px 5px !important;
	line-height     : 25px !important;
}
.tablebox{
	display         : flex;
	flex-direction  : column;
	max-width       : 1000px;
	justify-content : center;
	padding         : 10px 40px;
	margin          : auto;
}
.tableSelector{
	max-width       : 1000px;
	margin          : auto;
}
.mat-elevation-z8{
	padding-top     : 20px;
}
.ele .mat-menu-item{
	height: 35px;
}
button.mat-menu-item {
    width: 90% !important;
}
.ele .primary{
  background-color: #673ab7;
}
.ele .warn{
	background-color: #f44336;
}